{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}


{% block body %}
<script>

    function showSec(divid) {
        var x = document.getElementById(divid);
          
        
        if (x.style.display == "none") 
        {
        x.style.display = "flex";
        } 
        else {
        x.style.display = "none";
        }  
    }


</script>

<style>
   
</style>

<div class="body">
    <div class="wrapperDemarche">
        <header>
            <h1 class='title_section'>Mes démarches</h1>
            <h2 class='title_under_section mc-5'>Retrouvez l'ensembles des démarches disponibles</2>
        </header>
    </div>
    <div  class='flex row mbt-5'>
        <aside class='aside  flex column'>
            <h6>Un besoin en particulier ? </h6>
            <ul class='nav_list'>
                <li class='nav_item'>
                    <a href='#moveIn' class='nav_link'>S'installer à Saverdun</a>
                </li>
                <li class='nav_item'><a href='#family' class='nav_link'>Familles</a></li>
                <li class='nav_item'><a href='#citizen' class='nav_link'>Citoyenneté</a></li>
                <li class='nav_item'><a href='#urban' class='nav_link'>Urbanisme</a></li>
                <li class='nav_item'><a href='#asso' class='nav_link'>Association</a></li>
            </ul>
            <h6>Vous ne trouvez pas votre bonheur ? </h6>
             <button>Contacter la mairie</button>
        </aside>
        <div class='mc-5'>
            <div>
                <p class='under_title2 m-5'>24h/24, certaines démarches peuvent être faites en ligne : passeport, carte d'identité, inscription scolaire, mariage, PACS... </p>
            </div>
            <div style='text-align:center' class='m-2'>
                <div class='line'></div>
            </div>
             <section id='moveIn' class='news  section '>
                <div>
                    <h4 class='m-2'>S'installer à Saverdun</h4>
                    <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('rme')">La Regie Municipale d'Éléctricité (RME)</button>
                                <div id="rme" style='display: none; align-items: end;' class='flex column' >
                                    <p class=' mc-2 pc-2'>La RME est un service municipal qui assure la distribution de l'électricité sur la commune de Saverdun.<br>
                                    Pour s'abonner à l'électricité à Saverdun, vous devez contacter la RME. 
                                    Vous pouvez le faire par téléphone, par courrier ou sur le site internet de la Régie électrique du Moulin.</p>
                                    <a href='#' style='width:15%; padding: 1%' class='counsil text_center m-2'>Les contacter</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('smdea')" >La SMDEA (Société Mixte des Eaux et de l'Assainissement de l'Ariège)</button>
                                  <div id='smdea' style='display: none; align-items: end;' class='flex column'>
                                    <p  class=' mc-2 pc-2'>La SMDEA (Société Mixte des Eaux et de l'Assainissement de l'Ariège) est un syndicat intercommunal qui assure la distribution de l'eau potable et l'assainissement des eaux usées sur le territoire de l'Ariège.<br>
                                        Pour s'abonner à l'eau à Saverdun, vous devez contacter la SMDEA.
                                        Vous pouvez le faire par téléphone, par courrier ou sur le site internet de la SMDEA.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%' class='counsil text_center m-2'>Les contacter</a>

                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('aide')" >Demande d'aides sociales</button>
                                  <div id='aide' style='display: none; align-items: end;' class='felx column' >
                                    <p class=' mc-2 pc-2'>Si vous avez des difficultés financières, vous pouvez demander des aides sociales
                                         auprès du CCAS, de la CAF, de la CPAM ou d'autres organismes sociaux.<br>
                                        <br>Contacter le CCAS : 05 61 69 67 38
                                    </p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('club')" >Inscription à un club sportif ou culturel</button>
                                  <div id='club' style='display: none; align-items: end;' class='flex column' >
                                    <p class=' mc-2 pc-2'>Saverdun propose de nombreuses activités sportives et culturelles. <br>
                                        Vous pouvez vous renseigner sur les différentes activités proposées auprès de la mairie 
                                        ou des associations locales.
                                    </p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('health')" >Inscription à une mutuelle santé</button>
                                  <div id='health' style='display: none; align-items: end;' class='flex column'  >
                                    <p class=' mc-2 pc-2'>Une mutuelle santé vous permet de bénéficier d'une couverture complémentaire à la Sécurité sociale.
                                         Elle peut vous aider à financer les frais de santé non pris en charge par la Sécurité sociale, tels que les frais d'hospitalisation,
                                          les frais de médicaments, les frais de dentiste, etc. <br>
                                        Pour trouver une mutuelle santé adaptée à vos besoins, 
                                        vous pouvez utiliser un comparateur de mutuelles en ligne.
                                    </p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>   
            
            <section id='family' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Familles</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('ram')">Relais Assistantes Maternelles (RAM)</button>
                                <div id="ram" style='display: none; align-items: end;' class='flex column' >
                                    <p class=' mc-2 pc-2'>Le relais assistantes maternelles (RAM), est un service totalement gratuit qui est proposé aux parents 
                                        employeurs et aux assistantes maternelles.<br>
                                        Cette structure fonctionne avec une animatrice qualifiée, dont la mission est d’informer, 
                                        conseiller et échanger avec les parents et les assistantes maternelles sur la thématique de la garde 
                                        d'enfants. <br>
                                        Le relais assistantes maternelles répertorie l’ensemble des offres et des demandes d’accueil en terme de garde d’enfants agréée.
                                            <br>A l'heure actuel, on recense environ 3 000 RAM, gérés par les collectivités, comme la mairie, 
                                            la communauté d’agglomération ou le centre d’action sociale, des associations ou des mutuelles.
                                            <br><br>Ils sont financés en partie par la Caisse d'allocations familiales (CAF) ou la Mutualité sociale agricole (MSA).
                                            <br>Le RAM propose également des ateliers éducatifs (ateliers de musique, activités manuelles, etc.). Ces activités constituent 
                                            des temps d’éveil pour les enfants accompagnés de leur assistante maternelle.
                                    </p>
                                    <button >Télécharger le dossier d'inscription</button>
                                     <a href='#' style='width:18%; padding: 1%' class='counsil text_center m-2'>En savoir plus</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('creche')" >Les crèches</button>
                                  <div id='creche' style='display: none; ' class='flex column' >
                                    <p class=' mc-2 pc-2'>La crèche familiale municipale
                                        <br>La crèche collective privée "Les Couassous"
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('ecole')" >Les écoles</button>
                                  <div id='ecole' style='display: none;' class='flex column' >
                                    <p class=' mc-2 pc-2'>L'école maternelle : Charles Perrault
                                        <br>Cours privé Sainte Thérèse
                                        <br>L'école élémentaire - Groupe 2 : Pierre et Marie Curie
                                        <br>L'école élémentaire - Groupe 3 : Pierre et Marie Curie
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center '>En savoir plus</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('jeune')" >Espace jeunes</button>
                                  <div id='jeune' style='display: none; align-items: end;' class='flex column' >
                                    <p class=' mc-2 pc-2'>L'Espace Jeunes de Saverdun accueille les jeunes de 12 à 26 ans, qu'ils soient collégiens, lycéens ou étudiants.
                                        <br>C'est un lieu où ils peuvent se retrouver, s'amuser, s'informer et s'impliquer dans des projets variés.
                                        <br>L'équipe d'animation les accompagne dans leurs envies, leurs besoins et leurs questions, en les aidant à développer leur autonomie, leur créativité, leur ouverture et leur solidarité.
                                        <br>La prévention fait partie intégrante des actions menées.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('pij')" >Point Information Jeunesse (PIJ)</button>
                                  <div id='pij' style='display: none; align-items: end;' class='flex column' >
                                    <p class=' mc-2 pc-2'>Un espace labellisé par le ministère "Jeunesse et Sports" et par la région (label SPRO) qui dispense des informations sur tout ce qui touche la vie quotidienne. Il est aussi un lieu d’accompagnement de projets professionnels, de loisirs, d’orientation scolaire et de rédaction de CV et lettre de motivation.
                                        <br>Pour plus d’informations sur le point information jeunesse, nous vous invitons à consulter le lien ci-dessous.
                                        <br>Vous y trouverez les horaires, une plaquette informative et bien plus encore.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus</a>
                                </div>
                            </div>
                             <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('senior')" >Seniors</button>
                                  <div id='senior' style='display: none;' class='flex column'>
                                    <button >Accéder au portail national pour les personnes agées</button>
                                    <button >Accéder au site internet des EHPAD des Portes d'Ariège Pyrénées</button>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </section>  

            <section id='citizen' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Citoyenneté</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('etat')">Etat civil & titres d'identité</button>
                                <div id="etat" style='display: none;' class='flex column' >
                                    <h4 class=' mc-2 pc-2 under_title2'>Etat civil</h4>
                                    <ul class=' mc-2 pc-2 column'>
                                        <li class='m-2'>
                                            Du lundi au vendredi
                                        </li> 
                                        <li class='m-2'>
                                            De 08h30 à 12h15, puis de 13h30 à 17h15
                                            <br>Le samedi (État Civil Uniquement) de 09h00 à 12h00
                                            <br>hors vacances scolaires  
                                        </li>
                                        <li class='m-2'>Tél : 05 61 60 30 31 <br><br>
                                       

                                        </li>
                                    </ul>
                                    <h4 class=' mc-2 pc-2 under_title2'>Carte d'identité et passeport</h4>
                                    <ul class=' mc-2 pc-2 column'>
                                        <li class='m-2'>1- Préparer votre dossier  <br><br>
                                            <a class='text-link mc-2' href='https://passeport.ants.gouv.fr/demarches-en-ligne'>Se rendre sur le site officiel ici</a>
                                            <br><br>Prenez le temps de bien lire quels documents seront demandés en fonction de votre situation. 
                                            À la fin de la procédure, Imprimez, téléchargez ou notez le numéro de la pré-demande.
                                        </li> 
                                        <li class='m-2'>2- Prendre rendez-vous à la mairie en ligne <br><br>
                                            <a class='text-link mc-2' href='https://passeport.ants.gouv.fr/demarches-en-ligne'>Rdv en ligne</a>
                                        </li>
                                        <li class='m-2'>3- Rendez-vous en mairie <br><br>
                                            Le jour du rendez-vous en mairie, munissez-vous de votre pré-demande, ainsi que toutes les pièces demandées, en version papier.
                                            Les documents, les photographies, ou captures d’écran de smartphones ne sont pas autorisées. 
                                            Les personnes majeures concernées par les demandes doivent être présentes et les mineurs accompagnés par un représentant légal, mère ou père. 
                                            Tout dossier incomplet ne pourra être traité par nos services et nécessitera une nouvelle prise de rendez-vous.
                                            En cas de difficultés pour réaliser ces démarches et avant le jour du rendez-vous en mairie vous pouvez vous adresser à la Maison France Services au 05 32 74 15 51 ou appeler le Service État Civil au 05 61 60 30 31 

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('auto')" >Carte grise</button>
                                  <div id='auto' style='display: none;' class='flex column' >
                                    <p class=' mc-2 pc-2'>
                                        Pour effectuer une demande de carte grise durant la saison estivale, lors de l'acquisition d'un véhicule neuf ou d'occasion, deux possibilités s'offrent à vous sont :
                                        <br><br>En ligne, à l'adresse : <a class='text-link mc-2' href='#'>immatriculation.ants.gouv.fr.</a>
                                        <br>Auprès d'un garagiste agréé au SIV (Système d’Immatriculation des Véhicules) :<a class='text-link mc-2' href='#'>Annuaire des garages habilités.</a>
                                        <br><br>Notre guide explicatif permettra à tous les nouveaux propriétaires de véhicules de votre commune de mieux comprendre la démarche pour immatriculer un véhicules en toute simplicité.
                                    </p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('electeur')" >S'inscrire sur les listes électorales</button>
                                  <div id='electeur' style='display: none;' class='flex column' >
                                    <h4 class=' mc-2 pc-2 under_title2'>Première inscription à 18 ans</h4>
                                    <ul class=' mc-2 pc-2 column'>
                                        <li class='m-2'>Si vous êtes français et que vous avez effectué les démarches de recensement citoyen au moment de vos 16 ans, vous serez inscrit d'office sur les listes électorales à l'âge de 18 ans.
                                            <br>La Mairie vous envoie un courrier puis procède à votre inscription.
                                            <br>Si le courrier vous est bien parvenu, vous êtes donc inscrit d'office, sans faire de démarche particulière.
                                        </li>
                                        <li class='m-2'>
                                             Attention : en l'absence de courrier, il convient de vous assurer auprès de la mairie que l'inscription a bien été faite.
                                        </li>
                                    </ul>
                                    <h4 class=' mc-2 pc-2 under_title2'>Première inscription après 18 ans</h4>
                                    <p class='mc-2 pc-2'>Si vous souhaitez vous inscrire pour la première fois, au-delà de 18 ans, vous pouvez le faire en 
                                        vous rendant à la Mairie, ou par courrier en envoyant à la Mairie le formulaire d'inscription et les pièces exigées.
                                    </p>
                                    <h4 class=' m-2 pc-2 under_title2'>Pièces à fournir</h4>
                                    <ul class=' mc-2 pc-2 column'>
                                        <p>Un justificatif d'identité valide :</p>
                                        <li class='m-2'>Carte nationale d'identité</li>
                                        <li class='m-2'>Passeport, Permis de conduire</li>
                                        <li class='m-2'>Carte vitale avec photo</li>
                                        <li class='m-2'>Carte d'invalidité civile ou militaire avec photo</li>
                                        <li class='m-2'>Carte d'identité ou carte de circulation avec photo, délivrée par les autorités militaires/li>
                                    </ul>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('maison')" >Maison France Services</button>
                                  <div id='maison' style='display: none; align-items: end;' class='flex column' >
                                    <p class='mc-2 pc-2'>
                                        La Maison France Services c’est en un seul et même endroit la CAF, la CPAM, la Carsat, 
                                        la MSA, Pôle Emploi, les impôts, La Poste, les services des ministères de l’Intérieur,
                                         de la Justice et de la Direction générale des finances publiques.
                                         <br> Deux agents sont à votre disposition pour trouver des solutions immédiates. 
                                         Chaque demande fait l’objet d’une réponse précise.
                                         <br> Vous avez aussi accès à un ordinateur vous permettant de vous connecter pour effectuer vos 
                                         démarches en autonomie.
                                    </p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>  

            <section id='urban' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Urbanisme</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('plu')">Plan local d'urbanisme</button>
                                <div id="plu" style='display: none; ' class='flex column' >
                                    <a href='#' style='width:20%; padding: 1%; margin: 2% 5%' class='counsil text_center'>Télécharger le PLU</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('prn')" >Plan de prévention des risques naturels</button>
                                  <div id='prn' style='display: none; align-items: end' class='flex column' >
                                    <p class='mc-2 pc-2'>
                                        Le plan de prévention des risques naturels est un document de planification qui réglemente l'utilisation des sols en fonction des risques naturels prévisibles auxquels ils sont soumis.
                                        <br>A Saverdun, les risques identifiés sont inondations et mouvements de terrain.
                                    </p>
                                     <a href='#' style='width:30%; padding: 1%; margin: 2% 5%' class='counsil text_center'>Consulter le PPRN en vigueur</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('travaux')" >Travaux & aides aux travaux </button>
                                  <div id='travaux' style='display: none;' class='flex column' >
                                    <p class='mc-2 pc-2'>
                                        Découvrez les procédures administratives et les autorisations nécessaires pour concrétiser vos projets en toute légalité.
                                        Propriétaires, locataires, professionnels du bâtiment,
                                        <a class='text-link mc-2' href='#'>trouvez ici les informations essentielles pour faciliter vos démarches</a>.
                                    </p>
                                    <p class='mc-2 pc-2'>
                                        Du mieux-vivre pour soi, du bien-vivre pour tous !
                                        <br><br>Depuis plus d’un an la commune de Saverdun bénéficie de deux programmes d’aide à la réalisation de travaux dans votre logement ou dans celui que vous louez, de la part de la Communauté de communes des Portes d’Ariège Pyrénées.
                                        <br>Afin de mieux vous informer sur les différentes subventions possibles et de vous conseiller sur le programme de travaux le plus adéquat, une équipe est à votre disposition gratuitement. Il s’agit de professionnels d’Urbanis, l’agence retenue par l’intercommunalité pour vous accompagner dans votre projet.
                                        <br>Des permanences sont même organisées sur notre commune, renseignez-vous !
                                        <br>En contactant la Communauté de communes des Portes d’Ariège Pyrénées au 05 34 01 21 73, on vous orientera vers le bon interlocuteur en fonction de l’adresse du logement à réhabiliter pour avoir tous les renseignements possibles.
                                        <bt><br>N’hésitez plus et prenez soin de chez vous !
                                    </p>

                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('louer')" >Louer son logement</button>
                                  <div id='louer' style='display: none; align-items: end ' class='flex column'>
                                    <p class='pc-2 mc-2'>
                                        En tant que propriétaire, vous avez des obligations envers les personnes qui louent votre logement.
                                        <br>Ces obligations sont définies par la loi et visent à garantir un logement décent et habitable aux locataires.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus</a>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>   

            <section id='asso' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Association</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                             <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('creerAsso')">Créer son association</button>
                                <div id="creerAsso" style='display: none; align-items: end;' class='flex column' >
                                    <p class='pc-2 mc-2'>
                                        Aux termes de l’article 1er de la loi du 1er juillet 1901 : <br>"l’association est une convention par laquelle deux ou plusieurs personnes mettent en commun d’une façon permanente leurs connaissances ou leur activité dans un but autre que de partager des bénéfices. <br>Elle est régie, quant à sa validité, par les principes généraux du droit applicables aux contrats et obligations".
                                    </p>
                                    <a href='#' style='width:40%; padding: 1%; margin: 2% 5%' class='counsil text_center'>Kit gratuit pour créer son asso</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('benevole')" >Se former en tant que bénévole Ariégeois</button>
                                  <div id='benevole' style='display: none; align-items: end;' class='flex column' >
                                    <p class='mc-2 pc-2'>
                                        L’État accompagne les associations par le soutien à la formation de leurs bénévoles, pour le renforcement de leurs compétences et de leur motivation via le Fonds pour le Développement de la Vie Associative (FDVA).<br><br>
                                        Le FDVA soutient les projets de formation initiés par les associations qui apportent une formation technique ou spécifiquement liée au projet associatif, aux bénévoles assumant des responsabilités. Les associations peuvent bénéficier d’une subvention forfaitaire, aujourd’hui comprise entre 300 et 600 euros par jour de formation.
                                    </p>
                                     <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus</a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('subvention')" >Subventions </button>
                                  <div id='subvention' style='display: none; ' class='flex column' >
                                    <p class='mc-2 pc-2 under_title2'>Trois types de subventions peuvent être sollicités : </p>
                                    <ul class='column mc-2 pc-2'>
                                        <li class='m-2'> - Au titre du fonctionnement</li>
                                        <li class='m-2'> - D'un projet spécifique </li>
                                        <li class='m-2'> - D'un investissement</li>
                                    </ul>
                                    <p class='pc-2 mc-2'>   
                                        Les demandes seront appréciées au regard de différents critères qui ont tous pour fondement l'intêret public local et le respect des valeurs de la République en conformité avec le contrat d'engagement républicain
                                    </p>
                                    <div class='row m-2'>
                                        <a href='#' style='width:35%; padding: 1%; margin: 2% 5%' class='counsil text_center'>Dossier de demandes de subventions</a>
                                        <a href='#' style='width:35%; padding: 1%; margin: 2% 5%' class='counsil text_center'>Charte d'engagements réciproques</a>
                                    </div>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('departem')" >Aides départementales</button>
                                  <div id='departem' style='display: none; align-items: end;' class='flex column' >
                                    <p class='pc-2 mc-2'>Dans le cadre de sa politique départementale d’aide au       développement de la pratique sportive, le Conseil Départemental attribue des aides aux sportifs de haut niveau et aux sportifs de bon niveau.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus </a>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('materiel')" >Matériels de festivités à disposition (CCPAP)</button>
                                  <div id='materiel' style='display: none; align-items: end;' class='flex column' >
                                    <p class='mc-2 pc-2'>
                                        Vous avez besoin de matériel pour vos festivités ? La CCPAP met à disposition du matériel de manifestation.
                                    </p>
                                    <a href='#' style='width:15%; padding: 1%; margin: 2% 5%' class='counsil text_center'>En savoir plus </a>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section> 
        
        </div>

    </div>
        
</div>   

{% endblock %}
