{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}

{% block body %}
<style>
   
</style>

<div class="body">
    <div class="wrapperDemarche">
        <header>
            <h1 class='title_section'>Mes démarches</h1>
            <div></div>
        </header>
    </div>
    <div class='flex row'>
        <aside class='aside special_sec flex'>
            <ul class='nav_list'>
                <li class='nav_item'>
                    <a href='#moveIn' class='nav_link'>S'installer à Saverdun</a>
                </li>
                <li class='nav_item'><a href='#family' class='nav_link'>Familles</a></li>
                <li class='nav_item'><a href='#citizen' class='nav_link'>Citoyenneté</a></li>
                <li class='nav_item'><a href='#urban' class='nav_link'>Urbanisme</a></li>
                <li class='nav_item'><a href='#asso' class='nav_link'>Association</a></li>
            </ul>
        </aside>
        <div class='mc-5'>
             <section id='moveIn' class='news  section '>
                <div>
                    <h4>S'installer à Saverdun</h4>
                    <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">La Regie Municipale d'Éléctricité (RME)</p>
                            <p class="under_title2">La SMDEA (Société Mixte des Eaux et de l'Assainissement de l'Ariège)</p>
                            <p class="under_title2">Demande d'aides sociales</p>
                            <p class="under_title2">Inscription à un club sportif ou culturel</p>
                            <p class="under_title2">Inscription à une mutuelle santé</p>
                        </div>    
    
                    </div>
                </div>
            </section>   
            
            <section id='family' class='news section p-2'>
                <div>
                    <h4>Familles</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">Relais Assistantes Maternelles (RAM)</p>
                            <p class="under_title2">Les crèches</p>
                            <p class="under_title2">Les écoles</p>
                            <p class="under_title2">Espace jeunes</p>
                            <p class="under_title2">Point Information Jeunesse (PIJ)</p>
                            <p class="under_title2">Seniors</p>
                        </div>    
    
                    </div>
                </div>
            </section>  

            <section id='citizen' class='news section p-2'>
                <div>
                    <h4>Citoyenneté</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">Etat civil & titres d'identité</p>
                            <p class="under_title2">Carte grise</p>
                            <p class="under_title2">S'inscrire sur les listes électorales</p>
                            <p class="under_title2">Maison France Services</p>
                            <p class="under_title2"></p>
                        </div>    
    
                    </div>
                </div>
            </section>  

            <section id='urban' class='news section p-2'>
                <div>
                    <h4>Urbanisme</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">Plan local d'urbanisme</p>
                            <p class="under_title2">Plan de prévention des risques naturels</p>
                            <p class="under_title2">Travaux & aides aux travaux </p>
                            <p class="under_title2">Louer son logement</p>
                        </div>    
    
                    </div>
                </div>
            </section>   

            <section id='asso' class='news section p-2'>
                <div>
                    <h4>Association</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <p class="under_title2">Créer son association</p>
                            <p class="under_title2">Se former en tant que bénévole Ariégeois</p>
                            <p class="under_title2">Subventions</p>
                            <p class="under_title2">Aides départementales</p>
                            <p class="under_title2">Matériels de festivités à disposition (CCPAP)</p>
                        </div>    
    
                    </div>
                </div>
            </section> 
        
        </div>

    </div>
        
       

    
    <p>Lorem ipsum</p>

</div>   

{% endblock %}
