{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}


{% block body %}
<script>
    function showSec(divid) {

    var x = document.getElementById(divid);  
    
    if (x.style.display == "none") 
    {
      x.style.display = "flex";
    } 
    else {
      x.style.display = "none";
    }  
  }

</script>

<style>
   
</style>

<div class="body">
    <div class="wrapperDemarche">
        <header>
            <h1 class='title_section'>Mes démarches</h1>
            <div></div>
        </header>
    </div>
    <div class='flex row'>
        <aside class='aside  flex column'>
            <h6>Un besoin en particulier ? </h6>
            <ul class='nav_list'>
                <li class='nav_item'>
                    <a href='#moveIn' class='nav_link'>S'installer à Saverdun</a>
                </li>
                <li class='nav_item'><a href='#family' class='nav_link'>Familles</a></li>
                <li class='nav_item'><a href='#citizen' class='nav_link'>Citoyenneté</a></li>
                <li class='nav_item'><a href='#urban' class='nav_link'>Urbanisme</a></li>
                <li class='nav_item'><a href='#asso' class='nav_link'>Association</a></li>
            </ul>
             <button>Contacter la mairie</button>
        </aside>
        <div class='mc-5'>
            <div>
                <p class='under_title2 m-5'>24h/24, certaines démarches peuvent être faites en ligne : passeport, carte d'identité, inscription scolaire, mariage, PACS... </p>
            </div>
            <div style='text-align:center' class='m-2'>
                <div class='line'></div>
            </div>
             <section id='moveIn' class='news  section '>
                <div>
                    <h4 class='m-2'>S'installer à Saverdun</h4>
                    <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('rme')">La Regie Municipale d'Éléctricité (RME)</button>
                                <div id="rme" class ='none'>
                                    <p>RME</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('smdea')" >La SMDEA (Société Mixte des Eaux et de l'Assainissement de l'Ariège)</button>
                                  <div id='smdea' class ='none'>
                                    <p>SMDEA</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('aide')" >Demande d'aides sociales</button>
                                  <div id='aide' class ='none'>
                                    <p>Aides</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('club')" >Inscription à un club sportif ou culturel</button>
                                  <div id='club' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('health')" >Inscription à une mutuelle santé</button>
                                  <div id='health' class ='none'>
                                    <p>Mutuelle santé</p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>   
            
            <section id='family' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Familles</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('ram')">Relais Assistantes Maternelles (RAM)</button>
                                <div id="ram" class ='none'>
                                    <p>RME</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('creche')" >Les crèches</button>
                                  <div id='creche' class ='none'>
                                    <p>SMDEA</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('ecole')" >Les écoles</button>
                                  <div id='ecole' class ='none'>
                                    <p>Aides</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('jeune')" >Espace jeunes</button>
                                  <div id='jeune' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('pij')" >Point Information Jeunesse (PIJ)</button>
                                  <div id='pij' class ='none'>
                                    <p>Mutuelle santé</p>
                                </div>
                            </div>
                             <div class='buttonSec'>
                                 <button  style='margin: 0'  onclick="showSec('senior')" >Seniors</button>
                                  <div id='senior' class ='none'>
                                    <p>Mutuelle santé</p>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </section>  

            <section id='citizen' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Citoyenneté</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('etat')">Etat civil & titres d'identité</button>
                                <div id="etat" class ='none'>
                                    <p>RME</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('auto')" >Carte grise</button>
                                  <div id='auto' class ='none'>
                                    <p>SMDEA</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('electeur')" >S'inscrire sur les listes électorales</button>
                                  <div id='electeur' class ='none'>
                                    <p>Aides</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('maison')" >Maison France Services</button>
                                  <div id='maison' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>  

            <section id='urban' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Urbanisme</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                            <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('plu')">Plan local d'urbanisme</button>
                                <div id="plu" class ='none'>
                                    <p>RME</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('prn')" >Plan de prévention des risques naturels</button>
                                  <div id='prn' class ='none'>
                                    <p>SMDEA</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('travaux')" >Travaux & aides aux travaux </button>
                                  <div id='travaux' class ='none'>
                                    <p>Aides</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('louer')" >Louer son logement</button>
                                  <div id='louer' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section>   

            <section id='asso' class='news section p-2'>
                <div>
                    <h4 class='m-2'>Association</h4>
                     <div class="  posts p-5 ">
                        <div class="column">
                             <div class='buttonSec'>
                                <button style='margin: 0' onclick="showSec('creerAsso')">Créer son association</button>
                                <div id="creerAsso" class ='none'>
                                    <p>RME</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'   onclick="showSec('benevole')" >Se former en tant que bénévole Ariégeois</button>
                                  <div id='benevole' class ='none'>
                                    <p>SMDEA</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('subvention')" >Subventions </button>
                                  <div id='subvention' class ='none'>
                                    <p>Aides</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('departem')" >Aides départementales</button>
                                  <div id='departem' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                            <div class='buttonSec'>
                                 <button style='margin: 0'  onclick="showSec('materiel')" >Matériels de festivités à disposition (CCPAP)</button>
                                  <div id='materiel' class ='none'>
                                    <p>CLubs sportifs</p>
                                </div>
                            </div>
                        </div>    
    
                    </div>
                </div>
            </section> 
        
        </div>

    </div>
        
</div>   

{% endblock %}
