@font-face {
    font-family: 'Inter';
    src: url("./font/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: 'handwritting';
    src: url("./font/Lacquer-Regular.ttf");
}

@font-face {
    font-family: 'Title';
    src: url("./font/Poppins-Medium.ttf");
}

html, body{
    margin: 0;
    padding: 0%;
}

html{
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

.special_char{
    font-family: 'handwritting';
    font-size: 5em;
    color: rgb(221, 221, 31);
    text-align: center;
}

.title{
  font-family: 'Title';
  font-weight: 300;
  font-size: 4em;
  color: white;
  text-align: end;
  margin: 10% 2%;
}

.title_section{
  font-family: 'Title';
  font-weight: 300;
  font-size: 3em;
  color: white;
  margin:  5%;
}
.title_section{
  font-family: 'Title';
  font-weight: 300;
  font-size: 3em;
  color: white;
  margin:  10% 5% 0 5%;
}

.title_under_section{
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1.2px;
  color: #fcfdfe;
  
}


html{
    font-family: 'Inter' ;
}

.body {
  justify-items: center;
}

li {
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
}

nav ul, ul{
    display: flex;
    flex-direction: row;
}


nav{
    background-color: rgba(0, 0, 0, 0.82);
    color: white;
    border: none;
    padding: 0.1%;
    font-size: 0.9em;
    transition: 0.4s;
}

nav a {
    color: white;
}


h4{
  font-family: 'Title';
  font-weight: 200;
  font-size: 2em;
  color:rgb(21, 21, 21);
}

.flex{
  display: flex;
}

.around{
  justify-content: space-around;
}

.between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.center{
  justify-content: center;
}

.text_center{
  text-align: center;
}

.nowrap{
  flex-wrap: nowrap;
}

.wrap{
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.w-45{
  width: 45%;
}

.w-80{
  width: 80%;
}

.m-0{
  margin: 0;
}

.m-5{
  margin: 5%;
}

.m-2{
  margin: 2%;
}
.mbt-2{
  margin: 2% 0;;
}

.mbt-5{
  margin: 5% 0;;
}

.mc-5{
  margin: 0 5%;
}

.mc-10{
  margin: 0 10%;
}

.mc-15{
  margin: 0 15%;
}

.mc-20{
  margin: 0 20%
}

.mc-2{
  margin: 0 2%;
}
.p-0{
  padding: 0;
}

.p-5{
  padding: 5%;
}

.p-2{
  padding: 2%;
}

.ptb-5{
  padding: 5% 0;
}

.ptb-2{
  padding: 2% 0;
}

.pc-2{
  padding: 0 2%;
}

.pc-5{
  padding: 0 5%;
}

.pc5-ptb2{
  padding: 2% 5%;
}

.pc7-ptb2{
  padding: 2% 7%;
}

.mc10-mtb5{
  margin: 5% 10%;
}

table{
  border-spacing: 0px 1rem;


  overflow:hidden ;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 25%;
}

thead th:nth-child(3) {
  width: 35%;
}

thead th:nth-child(4) {
  width: 25%;
}

table tr:last-child, table tr:first-child{
  border-radius: 0.5rem;
} 

th{
  text-align: center;
}

th,
td {
  padding: 15px;
  margin: 15px;

}
.td{
  background-color:   white;
  border-spacing: 3px;
  border-radius: 8px;
  text-align: center;



}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}


td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}




/************************************* HEADER **********************************/
.wrapper{
    background-image: url("./media/saverdun-min-scaled.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 30em;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.wrapperDemarche{
  background-image: url("./media/Formalitesadministratives_1440_500.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20em;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}


.wrapperVivre{
  background-image: url("./media/scaled.svg");
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 20em;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
}


.links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}


.accueil{
    margin-right: 25%;
}

.logo{
    width: 30px;
}

.icon{
  width: 40px;
}

.communes{
  width: 100px;
}

.section_quick ul{
  padding:0 2%;
  display: flex;
  flex-direction: column;
}

.section_quick li {
  display: flex;
  flex-direction: row;
  transition: 0.4s;
  background-color:  rgba(64, 63, 63, 0.307);
}

.section_quick a {
  margin: 5%;
color: white;
}

.quick_access ul{
  margin: 0;
  padding: 0 10%;
  background-color:rgba(0, 0, 0, 0.82);
  display: flex;
  flex-direction: row;

}

.quick_access li{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

}

.quick_access a {
  margin: 5% 0;
    color: white;
  font-weight: 200;
}


/**************************** QUICK ACCESS HOVER *******************************************************/

.quick_access li:hover{
  border-left: rgb(228, 94, 94) 1px solid;
  border-right: rgb(228, 94, 94) 1px solid;
  background-color: rgb(38, 36, 36);

}
.section_quick li:hover{
  border-left: rgb(228, 94, 94) 1px solid;
  border-right: rgb(228, 94, 94) 1px solid;
  background-color: rgba(44, 41, 41, 0.277);

}

nav a:hover{
  color: rgb(228, 94, 94);
  font-size: 1em;
  
}


/***************************** FOOTER *************************************/
.footer{
  background-color: rgba(0, 0, 0, 0.82);
  color: white;
  background-image: url('./media/castle-outline.svg');
  background-position: right;
  background-size: 35%;
  background-repeat: no-repeat;
  padding: 3% 3% 1% 3%;
  
}


/**************** *WEATHER** **************************************/
.weather_b{
  width: 25%;
  padding: 1%;
  border-radius: 3%;

}

.weather_icon{
  width: 80px;
}

.cardContainer {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .card {
  position: relative;
  border-left: rgb(228, 94, 94) 1px solid;
  border-right: rgb(228, 94, 94) 1px solid;

  width: 220px;
  height:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  backdrop-filter: blur(30px);
  cursor: pointer;
}
  
  .city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: #fefdfb;
}
  
  .weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color:#fcfdfe
}
  
.temp {
  font-size: 1.4em;
  color:#fefdfb
}
  
.minmaxContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,
.max {
  width: 50%;
  
  padding: 0px 20px;
  gap: 4px;
}

.max {
  align-items: flex-start;
  border-left: 2px solid #fefdfb
}

.maxHeading,
.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: #fefdfb
}

.maxTemp,
.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: #fefdfb
}




/***************************************** NEWS AREA **********************************************/


.post_pic{
  width: 100%;
  margin: 3% 0;

}

.under_title{
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1.2px;
  color: black;
  margin-bottom: 0.5%;
}

.under_title2{
  font-weight: 900;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: black;
  margin-bottom: 0.5%;
}

.note{
  font-size: 1em;
  color: rgb(31, 30, 30);
  margin: 0;
  justify-items: end;
}

.note2{
  font-size: 0.8em;
  color: rgb(31, 30, 30);
  justify-items: end;
  margin: 0;
}


.under_title_white{
  font-weight: 900;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #dddfe2;
}

.note_white{
  font-size: 1em;
  color: #dddfe2;
  margin: 0;
  justify-items: end;
}


.note2_white{
  font-size: 0.8em;
  color: #dddfe2;
  justify-items: end;
  margin: 0;
}

/*************************************** BUTTON *********************************************/
/* From Uiverse.io by portseif */ 
button {
  align-items: center;
  background-color: transparent;
  color:  rgb(31, 30, 30);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  margin: 1%;
  border: 0;
  padding: 1rem;
}

button:before {
  background-color:red;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0.5rem;
}

button:hover:before {
  background-color:red;
  width: 3rem;

}

.btn{
  align-items: center;
  background-color: transparent;
  color: #dddfe2;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  margin: 1%;
  border: 0;
  padding: 1rem;
}

.btn:before {
  background-color:red;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0.5rem;
}

.btn:hover:before {
  background-color:red;
  width: 3rem;

}





.posts{
  background-color: #fcfdfe;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 0px;

}

.triple_card{
  background-color: #fefdfb;
  box-shadow: rgba(149, 157, 165, 0.096) 0px 8px 24px;
  
}

.c{
  
  border-bottom: 1px rgb(21, 21, 21) solid;
}

.agenda{
  background-color: rgb(228, 94, 94);
  width: 35%;
  border-radius: 8px;
  text-align: center;
}


.agenda p {
  color: #fcfdfe;
  font-size: 0.8em;
}


/***************************************** SPECIAL SEC *********************************************/
.special_sec{
  margin: 0%;
  background-color:rgb(40, 39, 39) ;
  color: #fcfdfe;
}


.special_sec h5{
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 1.2px;
  color: black;
  color: #fcfdfe;
}

.text{
  font-size: 0.88em;
  letter-spacing: 1px;
  width: 80%;
  margin: 0;
}

.mention{
  font-size: 0.7em;
  letter-spacing: 1px;
  padding: 1%;

}

.text_intro{
  padding: 2%;
  margin: 0;
  font-size: 1.2em;
}

.quote{
  width: 30px;
  padding: 10px 0;
}

.end{
  margin-left: 80%;
}

.desc{
  font-size: 0.8em;
  letter-spacing: 0.8px;
  color: #fcfdfe;
}

.counsil{
  background-color: rgb(228, 94, 94);
  border-radius: 6px;
  width: 10%;
  color: #fcfdfe;
  font-size: 1em;
}


.qr{

  width:150px; 
  margin: 0 2%;
}





/******************************************** MAP ***********************************************/
.map{

  background-size: cover;
  
  background-position: 50%;

}
.strateMapSvg {
  width: 66.66667%;
  float: left;
  position: relative;
}

#territoires{
  transition: ease 3s;
}

.map  .svgMapItem.svgMapItem--foix:hover{
  stroke: #5f4c72;
}

.foix:hover{
  border-top: #5f4c72 2px solid;
  border-bottom: #5f4c72 2px solid;
}

.foixHover{
  border-top: #5f4c72 2px solid;
  border-bottom: #5f4c72 2px solid;
  stroke: #5f4c72;
}

.map .svgMapItem.svgMapItem--portes:hover {
  stroke:#e5c645;
  
}

.portes:hover{
  border-top: #e5c645 2px solid;
  border-bottom: #e5c645 2px solid;
}
.portesHover{
  border-top: #e5c645 2px solid;
  border-bottom: #e5c645 2px solid;
  stroke:#e5c645;
}

.map .svgMapItem.svgMapItem--couserans:hover{
 stroke:  #519b46;
}

.courserans:hover{
  border-top: #519b46 2px solid;
  border-bottom: #519b46 2px solid;
}
.courseransHover{
  border-top: #519b46 2px solid;
  border-bottom: #519b46 2px solid;
  stroke:  #519b46;
}

.map .svgMapItem.svgMapItem--cathare:hover{
  stroke:#ccc42e;
}

.cathare:hover{
  border-top: #ccc42e 2px solid;
  border-bottom: #ccc42e 2px solid;
}
.cathareHover{
  border-top: #ccc42e 2px solid;
  border-bottom: #ccc42e 2px solid;
  stroke:#ccc42e;
}

.map .svgMapItem.svgMapItem--leze:hover{
  stroke: #e58f05;
}

.lezes:hover{
  border-top: #e58f05 2px solid;
  border-bottom: #e58f05 2px solid;
  
}
.lezesHover{
  border-top: #e58f05 2px solid;
  border-bottom: #e58f05 2px solid;
  stroke: #e58f05;
}

.map .svgMapItem.svgMapItem--pyrenees:hover{
  stroke: #7db78b;
}

.pyrenees:hover{
  border-top: #7db78b 2px solid;
  border-bottom: #7db78b 2px solid;
}
.pyreneesHover{
  border-top: #7db78b 2px solid;
  border-bottom: #7db78b 2px solid;
  stroke: #7db78b;
}

/*********************************************** SAVERDUN MAP *********************************************/


.saverdun-map{
  fill: transparent;
  stroke: rgb(228, 94, 94);
  stroke-width: 0.3em;
}




/******************************************* LINE ***********************************************************/


.line{
  background-color:red;
  border: rgb(228, 94, 94) 1.5px solid;
  display: inline-block;
  width: 20em;
  
}

.underline{
  background-color:red;
  border: rgb(228, 94, 94) 1.5px solid;
  display: inline-block;
  width: 9em;
  
}



/********************************************** ASIDE **************************************************************/
.aside{
  position: sticky;
  top: 10%;
  left: 3%;
  width: 450px;
  height: 500px;
  padding: 0%;
}

.aside ul{
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  justify-content: space-between;

  
}

.aside h6{
  background-color: #fefdfb;
  color: rgb(21, 21, 21);
  padding: 24px;
  margin: 1px;
  font-size: 1.15em;
}

.aside button{
  background-color: #fefdfb;
  margin: 1px;
}

.nav_list{
  width: 100%;
  transition: 0.4s;
}

.nav_list li{
 padding: 15px;
}

.nav_list li:hover{
  border-top: rgb(228, 94, 94) 1px solid;
  border-bottom: rgb(228, 94, 94) 1px solid;
}

.nav_link{
  
  margin: 10px;
  padding: 15px
}



.active{
  border-top: rgb(228, 94, 94) 1px solid;
  border-bottom: rgb(228, 94, 94) 1px solid;

  transition: 0.1s;
}

.active a{
  color: rgb(228, 94, 94);
  font-size: 1.1em;
  font-weight: 500;
}

/**************************************************** DEMARCHES *******************************************/

.none{
  display: none;
}

.buttonSec{
  width: 45rem;
}

.text-link{
  color:rgb(228, 94, 94);
  font-weight: 500;
}

/************************************************** VIVRE ENSEMBLE*********************************************************/

.see {

 border: 2px, solid rgb(228, 94, 94) ;
 border-radius: 5px;
 font-weight: bolder;
  padding: 1%;
  margin: 1%;
}

/****************************************************** ADMIN ***************************************************/
.cardA{
  border-radius: 9px;
  background-color: #fefdfb;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.h5_admin{
  font-size: 1.2em;
}



/***************************************************** FORM ***************************************************/
.formField {
  margin: 10px;
  position: relative;
  width: 50%;
}

.formField input {
  padding: 20px 15px 10px 15px;
  outline: none;
  border: 1px solid #11121a;
  border-radius: 5px;
  background-color: #fefdfb;
  color: #11121a;
  font-size: 16px;
  font-weight: 550;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 5px transparent;
  width: 100%;
}

.formField input:hover,
.formField input:focus {
  box-shadow: 0 0 0 2px #11121a;
}

.formField span {
  position: absolute;
  left: 0;
  top: 0;
  padding: 13px 15px;
  color: #11121a;
  font-size: 16px;
  font-weight: 600;
  text-shadow: -1px -1px 0 #fefdfb, 1px -1px 0 #fefdfb, -1px 1px 0 #fefdfb,
    1px 1px 0 #fefdfb;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.formField input:focus + span,
.formField input:valid + span {
  transform: translateY(-12px) translateX(-5px) scale(0.95);
  transition: 0.3s ease-in-out;
}
