html{
    margin: 0%;
    padding: 0%;
}
li {
    list-style: none;
}

a{
    text-decoration: none;
}

nav li, li{
    display: flex;
    flex-direction: row;
}


/***************************** FOOTER *************************************/
.footer{
    background-color: black;
    color: white;
}


/**************** *WEATHER** **************************************/
.weather{
    background-color: rgb(212, 224, 234);
}

.weather_icon{
    width: 100px;
}

