<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <nav>
            <ul>
                <li class="accueil"><a href=#><img class='logo' src="{{ asset('media/logo.png') }}" alt="Accueil"></a></li>
                <div class="links">
                    <li><a href="{{ path('app_demarche') }}">Démarches</a></li>
                    <li><a href=#>Ma ville</a></li>
                    <li><a href=#>Vivre à Saverdun</a></li>
                    <li><a href=#>Nouveaux arrivants</a></li>
                </div> 
            </ul>
        </nav>
    </header>
    
    <body>
        {% block body %}{% endblock %}
    </body>

    <footer class="m-0 footer ">
        <section class='mc-5'>
            <h5 class='m-0 under_title_white'>Nous rencontrer</h6>
            <div class='underline'></div>
            <ul class='m-0'>
                <li class='text'>
                    <p>Horaire</p>
                    <p>Lundi au Vendredi : 8h30 - 12h15 / 13h30 - 17h15 <br></p>
                    <p>Samedi: 9h00 - 12h00 (état-civil)</p>
                </li>
                <li class='text'>
                    <p>Adresse  </p>
                    <p>1 place du Souvenir-Français <br>
                        09700 Saverdun
                    </p>
                </li>
            </li>
        </section>
         <section class='mc-5'>
            <h5 class='m-0 under_title_white'>Nous contacter</h6>
             <div class='underline'></div>
            <ul class='m-0'>
                <li class='text'>
                    <p>Téléphone </p>
                    <p>05 61 60 30 31</p>
                </li>
                <li class='text'>
                    <p>Réseaux sociaux</p>
                    <p>0561603031</p>
                </li>

            </ul>
        </section>
        <section class='mc-2'>
             <ul class='w-45 text_center'>
                <li class='mention'>
                    <p>Politique de confidentialité </p>
                </li>
                 <li class='mention'>
                    <p>-</p>
                </li>
                <li class='mention'>
                    <p>Cookies</p>
                </li>
                <li class='mention'>
                    <p>-</p>
                </li>
                <li class='mention'>
                    <p>Copyright</p>
                </li>

            </ul>
        </section>
    </footer>
</html>
