<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <header>
        <nav>
            <li>
                <ul><a href=#>Accueil</a></ul>
                <ul><a href=#>Démarches</a></ul>
                <ul><a href=#>Ma ville</a></ul>
                <ul><a href=#>Vivre à Saverdun</a></ul>
                <ul><a href=#>Nouveaux arrivants</a></ul>
            </li>
        </nav>
    </header>
    
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
