{% extends 'base.html.twig' %}

{% block title %}Saverdun - Accueil{% endblock %}

{% block body %}
<style>
   
</style>
 <header>
        <nav>
            <ul>
                <li class="accueil"><a href=#><img class='logo' src="{{ asset('media/logo.png') }}" alt="Accueil"></a></li>
                <div class="links">
                    <li><a href="{{ path('app_post_new') }}">Démarches</a></li>
                    <li><a href=#>Ma ville</a></li>
                    <li><a href=#>Vivre à Saverdun</a></li>
                    <li><a href=#>Nouveaux arrivants</a></li>
                </div> 
            </ul>
        </nav>
    </header>



{% endblock %}
